In [455]:
import pandas as pd
import numpy as np
import requests

import matplotlib.pyplot as plt
from scipy.signal import butter, filtfilt, find_peaks



api_url = 'https://v1.nocodeapi.com/elvis/fit/QXjGNoJMMDbvvzgF/aggregatesDatasets?dataTypeName=calories_expended&timePeriod=30days&durationTime=daily'

response = requests.get(api_url)

if response.status_code == 200:
         
         data = response.json()
         print(data.keys())
         df_1 = pd.DataFrame(data['calories_expended'])
         print(df_1)
       
else:
    
    print(f"APi request failed with status code{response.status_code}")

dict_keys(['calories_expended'])
    value startTimeMillis  endTimeMillis             startTime  \
0     357   1694619880501  1694706280501  13 Sep 2023 03:44 pm
1    1556   1694706280501  1694792680501  14 Sep 2023 03:44 pm
2    1535   1694792680501  1694879080501  15 Sep 2023 03:44 pm
3    1594   1694879080501  1694965480501  16 Sep 2023 03:44 pm
4    1627   1694965480501  1695051880501  17 Sep 2023 03:44 pm
5     310   1695051880501  1695138280501  18 Sep 2023 03:44 pm
6     451   1695138280501  1695224680501  19 Sep 2023 03:44 pm
7    1626   1695224680501  1695311080501  20 Sep 2023 03:44 pm
8    1578   1695311080501  1695397480501  21 Sep 2023 03:44 pm
9    1553   1695397480501  1695483880501  22 Sep 2023 03:44 pm
10   1535   1695483880501  1695570280501  23 Sep 2023 03:44 pm
11   1597   1695570280501  1695656680501  24 Sep 2023 03:44 pm
12   1680   1695656680501  1695743080501  25 Sep 2023 03:44 pm
13    359   1695743080501  1695829480501  26 Sep 2023 03:44 pm
14   1710   1695829480501  1695915880501  27 Sep 2023 03:44 pm
15   1584   1695915880501  1696002280501  28 Sep 2023 03:44 pm
16   1548   1696002280501  1696088680501  29 Sep 2023 03:44 pm
17   1649   1696088680501  1696175080501  30 Sep 2023 03:44 pm
18   1604   1696175080501  1696261480501  01 Oct 2023 03:44 pm
19   1569   1696261480501  1696347880501  02 Oct 2023 03:44 pm
20   1535   1696347880501  1696434280501  03 Oct 2023 03:44 pm
21   1546   1696434280501  1696520680501  04 Oct 2023 03:44 pm
22   1535   1696520680501  1696607080501  05 Oct 2023 03:44 pm
23   1577   1696607080501  1696693480501  06 Oct 2023 03:44 pm
24   1535   1696693480501  1696779880501  07 Oct 2023 03:44 pm
25   1157   1696779880501  1696866280501  08 Oct 2023 03:44 pm

                 endTime
0   14 Sep 2023 03:44 pm
1   15 Sep 2023 03:44 pm
2   16 Sep 2023 03:44 pm
3   17 Sep 2023 03:44 pm
4   18 Sep 2023 03:44 pm
5   19 Sep 2023 03:44 pm
6   20 Sep 2023 03:44 pm
7   21 Sep 2023 03:44 pm
8   22 Sep 2023 03:44 pm
9   23 Sep 2023 03:44 pm
10  24 Sep 2023 03:44 pm
11  25 Sep 2023 03:44 pm
12  26 Sep 2023 03:44 pm
13  27 Sep 2023 03:44 pm
14  28 Sep 2023 03:44 pm
15  29 Sep 2023 03:44 pm
16  30 Sep 2023 03:44 pm
17  01 Oct 2023 03:44 pm
18  02 Oct 2023 03:44 pm
19  03 Oct 2023 03:44 pm
20  04 Oct 2023 03:44 pm
21  05 Oct 2023 03:44 pm
22  06 Oct 2023 03:44 pm
23  07 Oct 2023 03:44 pm
24  08 Oct 2023 03:44 pm
25  09 Oct 2023 03:44 pm

In [536]:
df_1.head(30)

,value,startTimeMillis,endTimeMillis,startTime,Date
0,357,1694619880501,1694706280501,13 Sep 2023 03:44 pm,14 Sep 2023 03:44 pm
1,1556,1694706280501,1694792680501,14 Sep 2023 03:44 pm,15 Sep 2023 03:44 pm
2,1535,1694792680501,1694879080501,15 Sep 2023 03:44 pm,16 Sep 2023 03:44 pm
3,1594,1694879080501,1694965480501,16 Sep 2023 03:44 pm,17 Sep 2023 03:44 pm
4,1627,1694965480501,1695051880501,17 Sep 2023 03:44 pm,18 Sep 2023 03:44 pm
5,310,1695051880501,1695138280501,18 Sep 2023 03:44 pm,19 Sep 2023 03:44 pm
6,451,1695138280501,1695224680501,19 Sep 2023 03:44 pm,20 Sep 2023 03:44 pm
7,1626,1695224680501,1695311080501,20 Sep 2023 03:44 pm,21 Sep 2023 03:44 pm
8,1578,1695311080501,1695397480501,21 Sep 2023 03:44 pm,22 Sep 2023 03:44 pm
9,1553,1695397480501,1695483880501,22 Sep 2023 03:44 pm,23 Sep 2023 03:44 pm
10,1535,1695483880501,1695570280501,23 Sep 2023 03:44 pm,24 Sep 2023 03:44 pm
11,1597,1695570280501,1695656680501,24 Sep 2023 03:44 pm,25 Sep 2023 03:44 pm
12,1680,1695656680501,1695743080501,25 Sep 2023 03:44 pm,26 Sep 2023 03:44 pm
13,359,1695743080501,1695829480501,26 Sep 2023 03:44 pm,27 Sep 2023 03:44 pm
14,1710,1695829480501,1695915880501,27 Sep 2023 03:44 pm,28 Sep 2023 03:44 pm
15,1584,1695915880501,1696002280501,28 Sep 2023 03:44 pm,29 Sep 2023 03:44 pm
16,1548,1696002280501,1696088680501,29 Sep 2023 03:44 pm,30 Sep 2023 03:44 pm
17,1649,1696088680501,1696175080501,30 Sep 2023 03:44 pm,01 Oct 2023 03:44 pm
18,1604,1696175080501,1696261480501,01 Oct 2023 03:44 pm,02 Oct 2023 03:44 pm
19,1569,1696261480501,1696347880501,02 Oct 2023 03:44 pm,03 Oct 2023 03:44 pm
20,1535,1696347880501,1696434280501,03 Oct 2023 03:44 pm,04 Oct 2023 03:44 pm
21,1546,1696434280501,1696520680501,04 Oct 2023 03:44 pm,05 Oct 2023 03:44 pm
22,1535,1696520680501,1696607080501,05 Oct 2023 03:44 pm,06 Oct 2023 03:44 pm
23,1577,1696607080501,1696693480501,06 Oct 2023 03:44 pm,07 Oct 2023 03:44 pm
24,1535,1696693480501,1696779880501,07 Oct 2023 03:44 pm,08 Oct 2023 03:44 pm
25,1157,1696779880501,1696866280501,08 Oct 2023 03:44 pm,09 Oct 2023 03:44 pm

In [537]:
df_1.shape
calories_expended = df_1['value']
calories_expended

0      357
1     1556
2     1535
3     1594
4     1627
5      310
6      451
7     1626
8     1578
9     1553
10    1535
11    1597
12    1680
13     359
14    1710
15    1584
16    1548
17    1649
18    1604
19    1569
20    1535
21    1546
22    1535
23    1577
24    1535
25    1157
Name: value, dtype: int64

In [538]:
api_url = 'https://v1.nocodeapi.com/elvis/fit/QXjGNoJMMDbvvzgF/aggregatesDatasets?dataTypeName=active_minutes&timePeriod=30days'

response = requests.get(api_url)

if response.status_code == 200:
         
         data_2 = response.json()
          
         df_2 = pd.DataFrame(data_2['active_minutes'])
         print(df_2)
       
else:
    
    print(f"APi request failed with status code{response.status_code}")

    value startTimeMillis  endTimeMillis             startTime  \
0      32   1694615900378  1694702300378  13 Sep 2023 02:38 pm
1     374   1694702300378  1694788700378  14 Sep 2023 02:38 pm
2     224   1694788700378  1694875100378  15 Sep 2023 02:38 pm
3     469   1694875100378  1694961500378  16 Sep 2023 02:38 pm
4     168   1694961500378  1695047900378  17 Sep 2023 02:38 pm
5     113   1695047900378  1695134300378  18 Sep 2023 02:38 pm
6      85   1695134300378  1695220700378  19 Sep 2023 02:38 pm
7     191   1695220700378  1695307100378  20 Sep 2023 02:38 pm
8     217   1695307100378  1695393500378  21 Sep 2023 02:38 pm
9     164   1695393500378  1695479900378  22 Sep 2023 02:38 pm
10    158   1695479900378  1695566300378  23 Sep 2023 02:38 pm
11    171   1695566300378  1695652700378  24 Sep 2023 02:38 pm
12    134   1695652700378  1695739100378  25 Sep 2023 02:38 pm
13    186   1695739100378  1695825500378  26 Sep 2023 02:38 pm
14    196   1695825500378  1695911900378  27 Sep 2023 02:38 pm
15    253   1695911900378  1695998300378  28 Sep 2023 02:38 pm
16    188   1695998300378  1696084700378  29 Sep 2023 02:38 pm
17    312   1696084700378  1696171100378  30 Sep 2023 02:38 pm
18    154   1696171100378  1696257500378  01 Oct 2023 02:38 pm
19    227   1696257500378  1696343900378  02 Oct 2023 02:38 pm
20     56   1696343900378  1696430300378  03 Oct 2023 02:38 pm
21    189   1696430300378  1696516700378  04 Oct 2023 02:38 pm
22    239   1696516700378  1696603100378  05 Oct 2023 02:38 pm
23    291   1696603100378  1696689500378  06 Oct 2023 02:38 pm
24    167   1696689500378  1696775900378  07 Oct 2023 02:38 pm
25     56   1696775900378  1696862300378  08 Oct 2023 02:38 pm

                 endTime
0   14 Sep 2023 02:38 pm
1   15 Sep 2023 02:38 pm
2   16 Sep 2023 02:38 pm
3   17 Sep 2023 02:38 pm
4   18 Sep 2023 02:38 pm
5   19 Sep 2023 02:38 pm
6   20 Sep 2023 02:38 pm
7   21 Sep 2023 02:38 pm
8   22 Sep 2023 02:38 pm
9   23 Sep 2023 02:38 pm
10  24 Sep 2023 02:38 pm
11  25 Sep 2023 02:38 pm
12  26 Sep 2023 02:38 pm
13  27 Sep 2023 02:38 pm
14  28 Sep 2023 02:38 pm
15  29 Sep 2023 02:38 pm
16  30 Sep 2023 02:38 pm
17  01 Oct 2023 02:38 pm
18  02 Oct 2023 02:38 pm
19  03 Oct 2023 02:38 pm
20  04 Oct 2023 02:38 pm
21  05 Oct 2023 02:38 pm
22  06 Oct 2023 02:38 pm
23  07 Oct 2023 02:38 pm
24  08 Oct 2023 02:38 pm
25  09 Oct 2023 02:38 pm

In [539]:
df_2.head(7)

,value,startTimeMillis,endTimeMillis,startTime,endTime
0,32,1694615900378,1694702300378,13 Sep 2023 02:38 pm,14 Sep 2023 02:38 pm
1,374,1694702300378,1694788700378,14 Sep 2023 02:38 pm,15 Sep 2023 02:38 pm
2,224,1694788700378,1694875100378,15 Sep 2023 02:38 pm,16 Sep 2023 02:38 pm
3,469,1694875100378,1694961500378,16 Sep 2023 02:38 pm,17 Sep 2023 02:38 pm
4,168,1694961500378,1695047900378,17 Sep 2023 02:38 pm,18 Sep 2023 02:38 pm
5,113,1695047900378,1695134300378,18 Sep 2023 02:38 pm,19 Sep 2023 02:38 pm
6,85,1695134300378,1695220700378,19 Sep 2023 02:38 pm,20 Sep 2023 02:38 pm

In [540]:
df_2.shape
active_minutes = df_2['value']
active_minutes

0      32
1     374
2     224
3     469
4     168
5     113
6      85
7     191
8     217
9     164
10    158
11    171
12    134
13    186
14    196
15    253
16    188
17    312
18    154
19    227
20     56
21    189
22    239
23    291
24    167
25     56
Name: value, dtype: int64

In [564]:
#plt.scatter(calories_expended, active_minutes,  c="#000")
#plt.show()

In [565]:
file_path = r"/Users/elvisechefu/Desktop/python 2/Finntastic-Sep-20_Oct-10.csv"
df = pd.read_csv("/Users/elvisechefu/Desktop/python 2/Finntastic-Sep-20_Oct-10.csv")
df.head()

,Date,Meal,Calories,Fat (g),Saturated Fat,Polyunsaturated Fat,Monounsaturated Fat,Trans Fat,Cholesterol,Sodium (mg),Potassium,Carbohydrates (g),Fiber,Sugar,Protein (g),Vitamin A,Vitamin C,Calcium,Iron,Note
0,2023-09-20,Breakfast,421.5,13.7,2.7,0.1,0.0,0.0,0.0,38.3,422.4,62.0,5.4,20.9,16.5,5.0,17.1,0.6,1.7,NaN
1,2023-09-20,Dinner,767.0,27.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79.6,0.0,0.0,50.6,0.0,0.0,0.0,0.0,NaN
2,2023-09-20,Lunch,1183.0,54.6,5.4,11.0,0.0,0.0,0.0,0.6,0.0,129.6,12.8,13.5,47.8,0.0,0.0,0.0,0.0,NaN
3,2023-09-20,Snacks,1142.8,64.5,12.0,0.0,0.0,0.3,12.2,128.0,684.4,64.1,6.6,17.5,84.3,0.0,116.2,290.0,15.1,NaN
4,2023-09-21,Breakfast,374.5,12.4,2.0,0.0,0.0,0.0,0.0,36.8,0.0,55.2,3.9,6.0,14.3,0.0,0.0,0.0,0.0,NaN

In [566]:
# Convert date column to DateTime
df['Date'] = pd.to_datetime(df['Date'])

# Group by date and sum values
summed_data = df.groupby('Date')['Calories'].sum().reset_index()

# Display the summed data
summed_data

         Date  Calories
0  2023-09-20    3514.3
1  2023-09-21    3138.8
2  2023-09-22    3070.2
3  2023-09-23    3429.3
4  2023-09-24    3115.0
5  2023-09-25    3303.1
6  2023-09-26    2739.2
7  2023-09-27    3491.4
8  2023-09-28    2975.8
9  2023-09-29    3078.7
10 2023-10-01    3343.5
11 2023-10-02    2713.8
12 2023-10-03    2531.8
13 2023-10-04    3503.9
14 2023-10-05    3669.7
15 2023-10-06    2710.6
16 2023-10-07    3966.3
17 2023-10-09    3158.7
18 2023-10-10     153.5

In [567]:
df.shape
calories_input = summed_data
calories_input

         Date  Calories
0  2023-09-20    3514.3
1  2023-09-21    3138.8
2  2023-09-22    3070.2
3  2023-09-23    3429.3
4  2023-09-24    3115.0
5  2023-09-25    3303.1
6  2023-09-26    2739.2
7  2023-09-27    3491.4
8  2023-09-28    2975.8
9  2023-09-29    3078.7
10 2023-10-01    3343.5
11 2023-10-02    2713.8
12 2023-10-03    2531.8
13 2023-10-04    3503.9
14 2023-10-05    3669.7
15 2023-10-06    2710.6
16 2023-10-07    3966.3
17 2023-10-09    3158.7
18 2023-10-10     153.5

In [586]:
#df.head(25)

In [587]:
#df.head(25)

In [588]:
#new_df = df.groupby(['Date']). sum()

In [600]:
#new_df.shape
#calories_input = new_df['Calories']
#calories_input = calories_input.values[:7]

#calories_input

In [601]:
import requests

url = "https://v1.nocodeapi.com/elvis/fit/QXjGNoJMMDbvvzgF/aggregatesDatasets?dataTypeName=calories_expended&timePeriod=30days&durationTime=daily"
params = {}
r = requests.get(url = url, params = params)
result = r.json()
print(result)

if response.status_code == 200:
         
    data = response.json()
    print(data.keys())
    
    df_8 = pd.DataFrame(data['active_minutes'])
    print(df_8)
       
else:
    
    print(f"APi request failed with status code{response.status_code}")

{'calories_expended': [{'value': 277, 'startTimeMillis': '1694615397672', 'endTimeMillis': '1694701797672', 'startTime': '13 Sep 2023 02:29 pm', 'endTime': '14 Sep 2023 02:29 pm'}, {'value': 1556, 'startTimeMillis': '1694701797672', 'endTimeMillis': '1694788197672', 'startTime': '14 Sep 2023 02:29 pm', 'endTime': '15 Sep 2023 02:29 pm'}, {'value': 1535, 'startTimeMillis': '1694788197672', 'endTimeMillis': '1694874597672', 'startTime': '15 Sep 2023 02:29 pm', 'endTime': '16 Sep 2023 02:29 pm'}, {'value': 1594, 'startTimeMillis': '1694874597672', 'endTimeMillis': '1694960997672', 'startTime': '16 Sep 2023 02:29 pm', 'endTime': '17 Sep 2023 02:29 pm'}, {'value': 1594, 'startTimeMillis': '1694960997672', 'endTimeMillis': '1695047397672', 'startTime': '17 Sep 2023 02:29 pm', 'endTime': '18 Sep 2023 02:29 pm'}, {'value': 423, 'startTimeMillis': '1695047397672', 'endTimeMillis': '1695133797672', 'startTime': '18 Sep 2023 02:29 pm', 'endTime': '19 Sep 2023 02:29 pm'}, {'value': 361, 'startTimeMillis': '1695133797672', 'endTimeMillis': '1695220197672', 'startTime': '19 Sep 2023 02:29 pm', 'endTime': '20 Sep 2023 02:29 pm'}, {'value': 1637, 'startTimeMillis': '1695220197672', 'endTimeMillis': '1695306597672', 'startTime': '20 Sep 2023 02:29 pm', 'endTime': '21 Sep 2023 02:29 pm'}, {'value': 1573, 'startTimeMillis': '1695306597672', 'endTimeMillis': '1695392997672', 'startTime': '21 Sep 2023 02:29 pm', 'endTime': '22 Sep 2023 02:29 pm'}, {'value': 1559, 'startTimeMillis': '1695392997672', 'endTimeMillis': '1695479397672', 'startTime': '22 Sep 2023 02:29 pm', 'endTime': '23 Sep 2023 02:29 pm'}, {'value': 1535, 'startTimeMillis': '1695479397672', 'endTimeMillis': '1695565797672', 'startTime': '23 Sep 2023 02:29 pm', 'endTime': '24 Sep 2023 02:29 pm'}, {'value': 1597, 'startTimeMillis': '1695565797672', 'endTimeMillis': '1695652197672', 'startTime': '24 Sep 2023 02:29 pm', 'endTime': '25 Sep 2023 02:29 pm'}, {'value': 1680, 'startTimeMillis': '1695652197672', 'endTimeMillis': '1695738597672', 'startTime': '25 Sep 2023 02:29 pm', 'endTime': '26 Sep 2023 02:29 pm'}, {'value': 359, 'startTimeMillis': '1695738597672', 'endTimeMillis': '1695824997672', 'startTime': '26 Sep 2023 02:29 pm', 'endTime': '27 Sep 2023 02:29 pm'}, {'value': 1660, 'startTimeMillis': '1695824997672', 'endTimeMillis': '1695911397672', 'startTime': '27 Sep 2023 02:29 pm', 'endTime': '28 Sep 2023 02:29 pm'}, {'value': 1634, 'startTimeMillis': '1695911397672', 'endTimeMillis': '1695997797672', 'startTime': '28 Sep 2023 02:29 pm', 'endTime': '29 Sep 2023 02:29 pm'}, {'value': 1548, 'startTimeMillis': '1695997797672', 'endTimeMillis': '1696084197672', 'startTime': '29 Sep 2023 02:29 pm', 'endTime': '30 Sep 2023 02:29 pm'}, {'value': 1649, 'startTimeMillis': '1696084197672', 'endTimeMillis': '1696170597672', 'startTime': '30 Sep 2023 02:29 pm', 'endTime': '01 Oct 2023 02:29 pm'}, {'value': 1604, 'startTimeMillis': '1696170597672', 'endTimeMillis': '1696256997672', 'startTime': '01 Oct 2023 02:29 pm', 'endTime': '02 Oct 2023 02:29 pm'}, {'value': 1569, 'startTimeMillis': '1696256997672', 'endTimeMillis': '1696343397672', 'startTime': '02 Oct 2023 02:29 pm', 'endTime': '03 Oct 2023 02:29 pm'}, {'value': 1535, 'startTimeMillis': '1696343397672', 'endTimeMillis': '1696429797672', 'startTime': '03 Oct 2023 02:29 pm', 'endTime': '04 Oct 2023 02:29 pm'}, {'value': 1546, 'startTimeMillis': '1696429797672', 'endTimeMillis': '1696516197672', 'startTime': '04 Oct 2023 02:29 pm', 'endTime': '05 Oct 2023 02:29 pm'}, {'value': 1535, 'startTimeMillis': '1696516197672', 'endTimeMillis': '1696602597672', 'startTime': '05 Oct 2023 02:29 pm', 'endTime': '06 Oct 2023 02:29 pm'}, {'value': 1577, 'startTimeMillis': '1696602597672', 'endTimeMillis': '1696688997672', 'startTime': '06 Oct 2023 02:29 pm', 'endTime': '07 Oct 2023 02:29 pm'}, {'value': 1535, 'startTimeMillis': '1696688997672', 'endTimeMillis': '1696775397672', 'startTime': '07 Oct 2023 02:29 pm', 'endTime': '08 Oct 2023 02:29 pm'}, {'value': 1237, 'startTimeMillis': '1696775397672', 'endTimeMillis': '1696861797672', 'startTime': '08 Oct 2023 02:29 pm', 'endTime': '09 Oct 2023 02:29 pm'}]}
dict_keys(['active_minutes'])
    value startTimeMillis  endTimeMillis             startTime  \
0      32   1694615900378  1694702300378  13 Sep 2023 02:38 pm
1     374   1694702300378  1694788700378  14 Sep 2023 02:38 pm
2     224   1694788700378  1694875100378  15 Sep 2023 02:38 pm
3     469   1694875100378  1694961500378  16 Sep 2023 02:38 pm
4     168   1694961500378  1695047900378  17 Sep 2023 02:38 pm
5     113   1695047900378  1695134300378  18 Sep 2023 02:38 pm
6      85   1695134300378  1695220700378  19 Sep 2023 02:38 pm
7     191   1695220700378  1695307100378  20 Sep 2023 02:38 pm
8     217   1695307100378  1695393500378  21 Sep 2023 02:38 pm
9     164   1695393500378  1695479900378  22 Sep 2023 02:38 pm
10    158   1695479900378  1695566300378  23 Sep 2023 02:38 pm
11    171   1695566300378  1695652700378  24 Sep 2023 02:38 pm
12    134   1695652700378  1695739100378  25 Sep 2023 02:38 pm
13    186   1695739100378  1695825500378  26 Sep 2023 02:38 pm
14    196   1695825500378  1695911900378  27 Sep 2023 02:38 pm
15    253   1695911900378  1695998300378  28 Sep 2023 02:38 pm
16    188   1695998300378  1696084700378  29 Sep 2023 02:38 pm
17    312   1696084700378  1696171100378  30 Sep 2023 02:38 pm
18    154   1696171100378  1696257500378  01 Oct 2023 02:38 pm
19    227   1696257500378  1696343900378  02 Oct 2023 02:38 pm
20     56   1696343900378  1696430300378  03 Oct 2023 02:38 pm
21    189   1696430300378  1696516700378  04 Oct 2023 02:38 pm
22    239   1696516700378  1696603100378  05 Oct 2023 02:38 pm
23    291   1696603100378  1696689500378  06 Oct 2023 02:38 pm
24    167   1696689500378  1696775900378  07 Oct 2023 02:38 pm
25     56   1696775900378  1696862300378  08 Oct 2023 02:38 pm

                 endTime
0   14 Sep 2023 02:38 pm
1   15 Sep 2023 02:38 pm
2   16 Sep 2023 02:38 pm
3   17 Sep 2023 02:38 pm
4   18 Sep 2023 02:38 pm
5   19 Sep 2023 02:38 pm
6   20 Sep 2023 02:38 pm
7   21 Sep 2023 02:38 pm
8   22 Sep 2023 02:38 pm
9   23 Sep 2023 02:38 pm
10  24 Sep 2023 02:38 pm
11  25 Sep 2023 02:38 pm
12  26 Sep 2023 02:38 pm
13  27 Sep 2023 02:38 pm
14  28 Sep 2023 02:38 pm
15  29 Sep 2023 02:38 pm
16  30 Sep 2023 02:38 pm
17  01 Oct 2023 02:38 pm
18  02 Oct 2023 02:38 pm
19  03 Oct 2023 02:38 pm
20  04 Oct 2023 02:38 pm
21  05 Oct 2023 02:38 pm
22  06 Oct 2023 02:38 pm
23  07 Oct 2023 02:38 pm
24  08 Oct 2023 02:38 pm
25  09 Oct 2023 02:38 pm

In [602]:
#df_7.head()

In [607]:
data = pd.to_datetime(df_1['endTimeMillis'], unit = 'ms')
data = data.dt.strftime('%Y-%m-%d')

data

/var/folders/x6/vrfll5sx3fbbylywk6w9s0c00000gn/T/ipykernel_26778/2889162980.py:1: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  data = pd.to_datetime(df_1['endTimeMillis'], unit = 'ms')

0     2023-09-14
1     2023-09-15
2     2023-09-16
3     2023-09-17
4     2023-09-18
5     2023-09-19
6     2023-09-20
7     2023-09-21
8     2023-09-22
9     2023-09-23
10    2023-09-24
11    2023-09-25
12    2023-09-26
13    2023-09-27
14    2023-09-28
15    2023-09-29
16    2023-09-30
17    2023-10-01
18    2023-10-02
19    2023-10-03
20    2023-10-04
21    2023-10-05
22    2023-10-06
23    2023-10-07
24    2023-10-08
25    2023-10-09
Name: endTimeMillis, dtype: object

In [609]:
data = pd.to_datetime(df_1['endTime'])
data = data.dt.strftime('%Y-%m-%d')

data

KeyError: 'endTime'

In [ ]:
df_in = calories_input
df_out = calories_expended

print(df_out, df_in)

0      357
1     1556
2     1535
3     1594
4     1627
5      310
6      451
7     1626
8     1578
9     1553
10    1535
11    1597
12    1680
13     359
14    1710
15    1584
16    1548
17    1649
18    1604
19    1569
20    1535
21    1546
22    1535
23    1577
24    1535
25    1157
Name: value, dtype: int64 [3514.3 3138.8 3070.2 3429.3 3115.  3303.1 2739.2]

In [ ]:
#df_1

df_1 = df_1.rename(columns={'endTime': 'Date'})

df_1

,value,startTimeMillis,endTimeMillis,startTime,Date
0,357,1694619880501,1694706280501,13 Sep 2023 03:44 pm,14 Sep 2023 03:44 pm
1,1556,1694706280501,1694792680501,14 Sep 2023 03:44 pm,15 Sep 2023 03:44 pm
2,1535,1694792680501,1694879080501,15 Sep 2023 03:44 pm,16 Sep 2023 03:44 pm
3,1594,1694879080501,1694965480501,16 Sep 2023 03:44 pm,17 Sep 2023 03:44 pm
4,1627,1694965480501,1695051880501,17 Sep 2023 03:44 pm,18 Sep 2023 03:44 pm
5,310,1695051880501,1695138280501,18 Sep 2023 03:44 pm,19 Sep 2023 03:44 pm
6,451,1695138280501,1695224680501,19 Sep 2023 03:44 pm,20 Sep 2023 03:44 pm
7,1626,1695224680501,1695311080501,20 Sep 2023 03:44 pm,21 Sep 2023 03:44 pm
8,1578,1695311080501,1695397480501,21 Sep 2023 03:44 pm,22 Sep 2023 03:44 pm
9,1553,1695397480501,1695483880501,22 Sep 2023 03:44 pm,23 Sep 2023 03:44 pm
10,1535,1695483880501,1695570280501,23 Sep 2023 03:44 pm,24 Sep 2023 03:44 pm
11,1597,1695570280501,1695656680501,24 Sep 2023 03:44 pm,25 Sep 2023 03:44 pm
12,1680,1695656680501,1695743080501,25 Sep 2023 03:44 pm,26 Sep 2023 03:44 pm
13,359,1695743080501,1695829480501,26 Sep 2023 03:44 pm,27 Sep 2023 03:44 pm
14,1710,1695829480501,1695915880501,27 Sep 2023 03:44 pm,28 Sep 2023 03:44 pm
15,1584,1695915880501,1696002280501,28 Sep 2023 03:44 pm,29 Sep 2023 03:44 pm
16,1548,1696002280501,1696088680501,29 Sep 2023 03:44 pm,30 Sep 2023 03:44 pm
17,1649,1696088680501,1696175080501,30 Sep 2023 03:44 pm,01 Oct 2023 03:44 pm
18,1604,1696175080501,1696261480501,01 Oct 2023 03:44 pm,02 Oct 2023 03:44 pm
19,1569,1696261480501,1696347880501,02 Oct 2023 03:44 pm,03 Oct 2023 03:44 pm
20,1535,1696347880501,1696434280501,03 Oct 2023 03:44 pm,04 Oct 2023 03:44 pm
21,1546,1696434280501,1696520680501,04 Oct 2023 03:44 pm,05 Oct 2023 03:44 pm
22,1535,1696520680501,1696607080501,05 Oct 2023 03:44 pm,06 Oct 2023 03:44 pm
23,1577,1696607080501,1696693480501,06 Oct 2023 03:44 pm,07 Oct 2023 03:44 pm
24,1535,1696693480501,1696779880501,07 Oct 2023 03:44 pm,08 Oct 2023 03:44 pm
25,1157,1696779880501,1696866280501,08 Oct 2023 03:44 pm,09 Oct 2023 03:44 pm

In [ ]:
df_in = calories_in
df_out = calories_expended

df_in['Date'] = pd.to_datetime(df_in['Date'])
df_out['Date'] = pd.to_datetime(df_out['Date'])

result_df = pd.DataFrame()

for date in df_in['Date']:
    filtered_df_out = df_out[df_out['Date'] == date]
    
    merged_df = pd.merge(df_in[df_in['Date'] == date], filtered_df_out, on='Date', how='inner')
    
    result_df = pd.concat([result_df, merged_df], ignore_index=True)
    
    
result_df

KeyError: 'Date'

In [ ]:
table1 = pd.DataFrame(df_in)
table2 = pd.DataFrame(df_out)

linked_table = pd.DataFrame(columns=['Date', 'value', 'Calories'])

for index1, row1 in table1.iterrows():
    df_in = pd.to_datetime(row1['Date'])
    matching_row2 = table2[table2['Date'] == df_in]
    
    if not matching_row2.empty:
        linked_table = linked_table.append({'Date': df_in,
                                            'value': row1['value'],
                                            'Calories': matching_row2['Calories'].values[0]},
                                           ignore_index=True)
        
    
linked_table

KeyError: 'Date'